################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Test/bin/Debug
/Test/obj/Debug
/XData/bin/Debug
/XData/obj/Debug
/.vs
