################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Test/bin/Debug
/Test/obj/Debug
/Test/bin/Release
/Test/obj/Release
/XData/bin/Debug
/XData/obj/Debug
/XData/bin/Release
/XData/obj/Release
/.vs
